body{
    font-family:monospace;
    background-image: url();
}

header{
    border: 2px solid blue;
    background-color: black;
    display: flex;
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* align-content: center; */
}

.logo {

    border: 2px solid;
    margin: 0px 30px;

}

.logo img {
    /* border: 2px solid; */
    width: 50px;
    height: 50px;
}

.nav {
    border: 2px solid;
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    height: 50px;
    margin: 5px 30px;
    justify-content: space-between;
    align-content: center;
}

.nav a {
    /* border: 2px solid; */
    text-decoration: none;
    text-transform: uppercase;
}

.nav a:hover, .nav a:active{
    color: orange;
    text-decoration: underline;
}